.custom-carousel {
  max-width: 100%;
  width:1000px; /* Ancho del carrusel */
  height:320px; /* Altura del carrusel */
  margin: 0 auto;
  background-color: #5f3f3f;
  overflow: hidden; /* Esto es para ocultar cualquier desbordamiento */
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-left: auto; 
  /*margin-right: -460px; /* Esto lo empuja a la derecha */
  border-radius: 20px; /* Ajustá el valor a tu gusto */
  
}
/* 🌟 Redondear las imágenes del carrusel */
.custom-carousel img {
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
/*Efecto de hacer zoom al pasar el mouse*/
.custom-carousel img:hover { 
  transform: scale(1.03);
} 

